.Root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  background: var(--button-bg-color);
  color: var(--button-text-color);
  border: 1px solid var(--button-border-color);
  transition: color 0.3s, background 0.3s, border 0.3s;
  cursor: pointer;

  &:hover {
    background: var(--button-bg-color-hover);
    color: var(--button-text-color-hover);
    border-color: var(--button-border-color-hover);
  }

  &:active {
    background: var(--button-bg-color-active);
    color: var(--button-text-color-active);
    border-color: var(--button-border-color-active);
  }

  &:disabled {
    cursor: not-allowed;
    background: var(--button-bg-color-disabled);
    color: var(--button-text-color-disabled);
    border-color: var(--button-border-color-disabled);
  }
}
