.Root {
  display: flex;
  flex-direction: column;
  gap: var(--gutter-l);
  padding: var(--gutter-l);
  background: var(--surface-color-primary);
  box-shadow: 0px 0px 45px -4px rgba(0, 0, 0, 0.18);
  border-radius: 16px;
  width: 320px;
}

.Heading {
  margin: 0;
  text-align: center;
}

.Fields {
  display: flex;
  flex-direction: column;
  gap: var(--gutter-s);
}

.Error {
  padding: var(--gutter-m);
  background-color: var(--surface-color-error);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
}
